*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background: #E5E5E5;
}

/* begin Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border: 1px solid #D4D4D4;
}

.line {
  width: 1px;
  height: 100%;
  background-color: #D4D4D4;
  margin: 0 34px;
}
.search-input {
  padding-left: 38px;
  background: #E5E5E5;
  background-image: url(../image/search.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  font-size: 18px;
  color: #A5A5A5;
}

.search-input:focus {
  border: none;
}

.nav {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  color: #363636;
}

.navigation-link:not(:last-child) {
  margin-right: 18px;
}

.button-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  font-size: 18px;
  background: #E5E5E5;
  border: none;
  cursor: pointer;
}

.button--sing_up {
  color: #5671F6;
  height: 100%;
  padding: 0 34px;
  border-left: 1px solid #D4D4D4;
}

.button--login {
  background: #5671F6;
  border: 1px solid #5671F6;
  color: #ffffff;
  height: 100%;
  padding: 0 50px;
}
