*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #363636;
  background: #e5e5e5;
}

.no-scroll {
  overflow: hidden;
}

/* begin Header */
.header {
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 34px;
  border: 1px solid #d4d4d4;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.mobile-menu {
  display: none;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.mobile-menu--active {
  display: flex;
}

.search-input {
  padding-left: 38px;
  background: #e5e5e5;
  background-image: url(../image/search.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  font-size: 18px;
  color: #a5a5a5;
  outline: none;
  margin-left: 34px;
  margin-right: auto;
}

.nav {
  margin-left: auto;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #363636;
}

.navigation-link:not(:last-child) {
  margin-right: 18px;
}

.navigation-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #363636;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.navigation-link:hover:after {
  transform: scaleX(1);
}

.button-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  height: 100%;
  font-size: 18px;
  background: #e5e5e5;
  border: none;
  cursor: pointer;
  outline: none;
}

.button--sing_up {
  color: #5671f6;
  padding: 0 34px;
  border-left: 1px solid #d4d4d4;
  margin-left: 34px;
}

.button--login {
  background: #5671f6;
  border: 1px solid #5671f6;
  color: #ffffff;
  padding: 0 50px;
}

.mobile-buttons {
  display: none;
  align-items: center;
  margin-left: auto;
}

.mobile-button--search {
  display: flex;
  align-items: center;
  padding: 4px 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.mobile-button--menu {
  padding: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.mobile-menu-line {
  display: block;
  height: 2px;
  background-color: #000000;
  width: 16px;
  margin: 2px 0;
  border-radius: 40px;
}

/* end Header */

/* begin Main */
/* film-trailer */
.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 62px;
}

.trailer-poster {
  border-radius: 5px 5px 0 0;
  width: 358px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
  border: 1px solid #d4d4d4;
  border-radius: 0 0 5px 5px;
  padding: 25px 81px;
  cursor: pointer;
  text-decoration: none;
}

.trailer-button-icon {
  margin-right: 12px;
}

.button-text {
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
}

/* film-text */
.film-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.film-subtitle {
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}

.film-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 50px;
  max-width: 514px;
}

.about-film {
  display: flex;
  margin-bottom: 34px;
}

.left-side {
  margin-right: 40px;
}

.about-text {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.about-text-bold {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
}

/* film-rating */
.film-rating {
  display: flex;
}

.rating-counter {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #5671f6;
  border: 1px solid #5671f6;
  border-radius: 10px;
  padding: 33px 23px;
  margin-right: 28px;
}

.rating-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 11px;
  margin-bottom: 12px;
}

.rating-text {
  display: block;
  margin-bottom: 7px;
}

.rating-text-bold {
  font-weight: bold;
}

/* cast */
.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
}

.section-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
  margin-bottom: 60px;
  cursor: pointer;
}

.section-title--active {
  font-weight: 900;
  color: #363636;
}

.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}

.tabs-content--active {
  display: flex;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-weight: bold;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}

.role {
  font-weight: normal;
  color: #a5a5a5;
}

/* news */
.news {
  background: #f3f3f3;
  padding-top: 70px;
  color: #000000;
}

.section-news-title {
  font-weight: 900;
  color: #000000;
  margin-bottom: 65px;
}

.news-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  flex-basis: 23%;
  background-color: #ffffff;
  border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 100px;
}

.news-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 0;
}
/* end Main */

/* @Media */
@media (max-width: 1200px) {
  .navigation-link:not(:last-child) {
    margin-right: 10px;
  }

  .search-input {
    font-size: 14px;
    padding-left: 28px;
  }

  .navigation-link {
    font-size: 14px;
  }

  .button {
    font-size: 14px;
  }

  .button--sing_up {
    padding: 0 24px;
  }

  .button--login {
    padding: 0 40px;
  }

  .container {
    max-width: 960px;
  }

  .card-img {
    width: 70px;
    height: 70px;
  }

  .card-text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }

  .navigation {
    display: none;
  }

  .film {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .film-title {
    font-size: 28px;
    line-height: 32px;
    margin-top: 0;
  }

  .film-subtitle {
    margin-bottom: 20px;
  }

  .film-description,
  .about-film {
    margin-bottom: 25px;
  }

  .about-text-bold {
    display: block;
  }

  .cast {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card {
    flex-basis: 50%;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }

  .card-text {
    font-size: 16px;
    line-height: 19px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .news {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .container {
      max-width: 560px;
    }

    .header {
      height: 80px;
      padding-left: 20px;
    }

    .header-logo:after {
      margin-left: 20px;
    }

    .mobile-menu {
      height: calc(100% - 80px);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      top: 80px;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #5671f6;
    }

    .search-input {
      width: 260px;
      height: 50px;
      border-radius: 5px;
      border: none;
      background-image: none;
      margin: 0;
      margin-top: 50px;
      text-align: center;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
    }

    .navigation-link {
      color: #ffffff;
      margin-bottom: 18px;
      margin-right: 0;
    }

    .navigation-link:not(:last-child) {
      margin-right: 0px;
    }

    .navigation-link:last-child {
      margin-bottom: 25px;
    }

    .button-group {
      flex-direction: column;
      margin-top: 25px;
    }

    .button {
      height: auto;
    }

    .button--sing_up {
      background-color: transparent;
      color: #ffffff;
      border: none;
      margin: 0;
      margin-bottom: 30px;
    }

    .film-wrapper {
      flex-wrap: wrap;
    }

    .film-text {
      order: -1;
      margin-bottom: 30px;
    }

    .about-text-bold {
      display: inline-block;
    }

    .news-card {
      max-width: 90%;
    }
  }

  @media (max-width: 576px) {
    .container {
      max-width: 90%;
    }

    .header {
      padding-right: 4.5%;
      padding-left: 4.5%;
    }

    .header-logo:after {
      display: none;
    }

    .mobile-buttons {
      display: flex;
    }

    .film {
      padding-top: 30px;
    }

    .film-trailer,
    .poster {
      height: 100%;
    }

    .film-text {
      order: 1;
      margin-bottom: 0;
    }

    .film-title {
      font-size: 20px;
      line-height: 23px;
      margin-top: 30px;
      margin-bottom: 12px;
    }

    .film-subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 26px;
    }

    .film-description {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 40px;
    }

    .about-film {
      display: block;
      margin-bottom: 40px;
    }

    .card {
      flex-basis: 100%;
      margin-bottom: 20px;
    }

    .card-img {
      width: 60px;
      height: 60px;
    }

    .card-text {
      font-size: 14px;
      line-height: 16px;
    }
    .news-card {
      /* flex-basis: 100%; */
    }
  }
}
